.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  width: 400px;
  background-color: lavenderblush;
  padding: 20px;
}

input {
  width: 100%;
  margin: 3px 0;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  margin: 15px 0;
}

.list>li {
  background-color: rgb(226, 226, 226);
  padding: 5px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.btn>button {
  padding: 5px;
  width: 60px;
}

.deleteBtn {
  width: 18px;
  padding: 5px;
    height: 22px;
  background-color: red;
  color: white;
  text-align: center;
  cursor: pointer;
}
.deleteAllBtn {
  text-align: right;
  cursor: pointer;
  font-size: 12px;
}

.deleteAllBtn:hover {
  text-decoration: underline;
}

.edit span {
  margin-left: 10px;
  font-size: 12px;
  cursor: pointer;
}